doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Credit Sales
    link(rel='shortcut icon' href='/assets/img/favicons/favicon-32x32.png')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx' crossorigin='anonymous')
    link(rel="stylesheet" href="/styles/main_ion.css")   
  body
    .container-fluid
      h5 Credit Sales List &nbsp;
          a.btn.btn-primary(href='/creditSales') Back
          .d-md-flex.justify-content-md-end
            button.position-absolute.top-0.end-0.btn.btn-warning(type='button')
              a(href="/logout/") Sign Out
      div(style='position: absolute; left: 18%; top: 0%; width: 10%;')
        button.btn.btn-primary(type='button' onclick='PrintTable();') 
          ion-icon(name='print-outline')
      div(style='position: absolute; left: 23%; top: 0%; width: 10%;')      
        button.btn.btn-primary(onclick="ExportToExcel('xlsx')") .xlsx 
          ion-icon(name='download-outline')
      div(style='position: absolute; left: 40%; top: 0%; width: 30%;')
          input#myInput.form-control(type='text' onkeyup='searchFunc()' placeholder='Search by produce name...' title='Type in a name')                                 
      hr
      if CreditSales.length
        table#myTable.table.table-striped.table-bordered.table-responsive.table-hover
            thead.table-dark
                tr
                    th(scope='col') Produce
                    th(scope='col') Type
                    th(scope='col') SKU
                    th(scope='col') Buyer
                    th(scope='col') Buyer's NIN
                    th(scope='col') Location
                    th(scope='col') Telephone
                    th(scope='col' style='text-align: right; width:20Px') Tonnage (kgs)
                    th(scope='col' style='text-align: right; width:20Px') Unit price
                    th(scope='col' style='text-align: right;') Amount due                
                    th(scope='col') Due_date
                    th(scope='col') Dispatch date
                    th Branch
                    th(scope='col') Action
                    th(scope='col') 
            tbody
            each CreditSale in CreditSales
                tr
                    td #{CreditSale.prodname} 
                    td #{CreditSale.itemcat} 
                    td #{CreditSale.sku}
                    td #{CreditSale.ddbuyer}
                    td #{CreditSale.nin}
                    td #{CreditSale.loc}
                    td #{CreditSale.contacttel}
                    td(style='text-align: right;') #{CreditSale.tonn} 
                    td(style='text-align: right;') #{CreditSale.unitprice} 
                    td(style='text-align: right;') #{CreditSale.amtpd}                   
                    td #{moment(CreditSale.duedte).format("DD-MM-YYYY")}                                   
                    td #{moment(CreditSale.dpatchdate).format("DD-MM-YYYY")}  
                    td #{CreditSale.ddbranch}                                
                    td 
                      a.edit(href='/creditSalesUpdate/'+CreditSale._id)
                        ion-icon(name='create-outline')
                    td
                      form(method="POST", action="/credit_list")
                          input(type="hidden", name="_id", value=CreditSale._id)
                          button.btn.btn-primary(type='submit')
                            ion-icon(name='trash-outline')
            tfoot(style='background-color:#008080; color:white')
              tr
                  td(scope='col') Totals:
                  td
                  td
                  td
                  td 
                  td 
                  td 
                  td(scope='col' style='text-align: right;') #{totalCreditSales.totalCreditTonn}
                  td(scope='col' style='text-align: right;') #{totalCreditSales.totalCreditUnit}
                  td(scope='col' style='text-align: right;') #{totalCreditSales.totalCreditAmt}
                  td 
                  td  
                  td
                  td   
                  td                         
      else
        p There are no records to display
    script(src='/javascript/printCreditSales.js')
    script(type='text/javascript' src='https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js' integrity='sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa' crossorigin='anonymous')
    script(type='text/javascript' src='http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js')
    script(type='text/javascript' src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    script( type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js")